.App {
    height: 100vh;
}

.btn-main {
    border-radius: 8px;
    background-color: rgb(50,206,217);
    border-color: rgb(50,206,217);
    min-width: 80px;
}

.-pagination {
    margin-bottom: 30px;
}

.btn-main:hover,
.btn-primary.btn-main:active {
    background-color: transparent !important;
    color: rgb(50,206,217) !important;
    border-color: rgb(50,206,217) !important;
}

.text-grey {
    color: rgb(116,119,126);
}

.btn-cancel {
    background-color: transparent;
    color: rgb(116,119,126);
    border-color: transparent;
}

.btn-cancel:hover {
    background-color: rgb(50,206,217);
    border-color: rgb(50,206,217);
    color: #fff;
}

.text-field {
    border-radius: 8px;
}

.wrap-side-menu {
    min-height: calc(100vh - 56px);
    background-color: rgb(76, 93, 133);
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.header-wrap {
	color: rgb(80, 94, 116);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.logo-header {
    font-size: 24px;
    font-weight: bold;
}

.online-dot {
	width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: -5px;
    border-radius: 50%;
}

.online-dot.online {
    background: rgb(97, 218, 48);
}
.online-dot.offline {
    background: rgb(247, 68, 58);
}

.item-side-menu {
    cursor: pointer;
    padding: 10px 0px;
    font-weight: bold;
    color: rgb(165, 176, 199);
    position: relative;
}

.item-side-menu:hover,
.item-side-menu.active {
    color: #fff;
}

.item-side-menu:hover:before,
.item-side-menu.active:before {
    content: '';
    position: absolute;
    background-color: rgb(49, 205, 216);
    width: 5px;
    height: 100%;
    left: -15px;
    top: 0;
}

.layout-confirm-alert.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    filter: blur(3px);
    z-index: 1
}

.layout-building-alert {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -15px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 rgba(49, 205, 216,0.8);
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 rgba(49, 205, 216,0.8);
}

.ReactTable .-pagination .-btn {
    border-radius: 8px;
    background-color: rgb(50,206,217);
    border-color: rgb(50,206,217);
    min-width: 80px;
    color: #fff;
}

.ReactTable .-pagination .-btn:not(:disabled):hover {
    background-color: transparent !important;
    color: rgb(50,206,217) !important;
    border-color: rgb(50,206,217) !important;
    border: 1px solid rgb(50,206,217);
}

.inner-confirm-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 30px;
    z-index: 2;
    color: rgb(116,119,126);
}

.inner-confirm-alert i {
    position: absolute;
    right: 0;
    top: 0;
}

.back-confirm-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.p-15 {
    padding: 15px;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.h-10 {
    height: 10%;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}

.h-90 {
    height: 90%;
}